@{
    ViewBag.Title = "About";
}
<h2 style="color:#FFCB9A">@ViewBag.Title.</h2>
<h3 style="color:#D9B08C">@ViewBag.Message</h3>

<div id="SearchInfo">
    <p>Use this area to provide additional information.</p>
</div>

